$capsule-padding: 6PX; // 胶囊的上下padding距离
$capsule-height: 32PX; // 胶囊的高度
$capsule-width: 88PX; // 胶囊的宽度
 
$navigation-height: $capsule-padding * 2 + $capsule-height;
$navigation-font-size: 15PX;
$navigation-icon-font-size: 25PX;
$navigation-box-shadow: 0 2PX 2PX #222;
 
.navigation {
  position: relative;
  background: transparent;
} 
.bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $navigation-height;
  z-index: 1;
  font-size: $navigation-font-size;
}
 
.placeholder {
  display: block;
  height: $navigation-height;
  background: transparent;
}
